*{
	margin:0;
	padding:0;
}
body{
	font-family: "helvetica neue",arial,sans-serif;
    font-size: 14px;
    color: #444;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0
}
div{
    display: block;
}
/*header*/
.header{
	width: 100%;
	height:200px;
}
ul{
	list-style: none;
}
a{
	color: #222;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
.header-nav{
	width:1496px;
	height:56px;
	margin:10px auto;
}
.header-nav .nav-left{
	width:350px;
	float: left;
}
#huaban{
	float: left;
    margin:10px 20px 0 0;
    width: 80px;
    height: 28px;
    background: url(../img/logo.svg) 0 0 no-repeat;
}
.header-item{
	width:65px;
	line-height: 56px;
	height: 56px;
	float: left;
	font-size:14px;
}
#item-new,#header-more-menu{
	margin-left: -20px;
}
#item-think{
	margin-left: -20px;
	margin-right: 20px;
}
.header-item a:hover{
	color:red;
	border-bottom: 1px solid red;
}
#header-more-menu{
	position: relative;
    float: left;
    width: 24px;
    height: 28px;
    background: url(/img/menu_sprite.svg?20150302) 0 -248px no-repeat;
    cursor: pointer;
}
.new-type{
 	display: inline-block;
    background-image: url(../img/em-new.svg);
    width: 30px;
    height: 14px;
    margin-left: 6px;
    margin-bottom: 4px;
    vertical-align: middle;
 }
.nav-right{
	width: 120px;
	height:56px;
	float: right;
	display: inline-block;
}
.register,.login{
	float:right;
 	display:inline-block;
 	width: 52px;
    height: 34px;
    margin:10px 0 0 5px;
 	line-height: 34px;
 	text-shadow: none;
    box-shadow: none;
    border-radius: 3px;
 }
 .register{
    border: 0;
    color: #fff;
    background: #c90000;
    background: rgba(201,0,0,.6);
    	
 }
 .register:hover{
 	background: rgba(201,0,0,.9);
 	box-shadow: none;
 }
 .register:active{
 	background: rgba(201,0,0,.8);
 }
  .text{
 	display:inline-block;
 	width:50px;
 	height:32px;
 	text-align: center;
 	font-size: 14px;
 }
 .login{
 	height: 32px;
	border: 1px solid #D9D9D9;
	color: #444;
	background: #fff;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
 }
 .login:hover{
    background: rgba(0,0,0,.1);
 	
 }
 .login:active{
 	background: rgba(255,255,255,.8);
 }
 .header-search{
 	display: inline-block;
    position: relative;
    width:1006px;
    height:56px;
    line-height: 56px;
 }
 .header-search input{
 	margin: 0 auto;
 	padding: 0 10px;
 	width: 100%;
 	height: 34px;
 	border: 1px solid rgba(255,255,255,.8);
 	border-radius: 3px;
 	color: #fff;
 	background: rgba(0,0,0,.1);
 }
 input{
 	user-select: text;
    cursor: auto;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    outline: 0;
 }
 .go{
 	display: block;
 	position: absolute;
 	top: 10px;
 	right:0;
 	width: 40px;
 	height: 36px;
 	background: url(../img/icon_search.svg) 20px 7px no-repeat;
 	cursor: pointer;
 }
 .header-search input:hover,.header-search input:active{
 	background: rgba(0,0,0,.15);
 }
 .account-bg{
 	width:100%;
 	height:160px;
 	background: url(../img/login_header_blurbg.jpg) no-repeat;
 }
 .account-content{
 	width:1496px;
 	height: 160px;
 	margin:0 auto;
 }
 .account-left{
 	width:496px;
 	height:160px;
 	float: left;
 	margin-top:20px;
 	text-align: left;
 	line-height: 40px;
 	color: white;
 }
 .account-link{
 	width:264;
 	height:120px;
 	float: right;
 	position: relative;
 }
 .account-link a{
	display: inline-block;
    width: 54px;
    height: 54px;
    background: url(../img/icons_login_big.svg) 0 0 no-repeat;
    
 }
 .account-link .blog{
 	background-position: 0 0;
 	margin:20px 12px 0 0;
 }
 .account-link .qzone{
	background-position: -80px 0;
	margin:20px 12px 0 0;
 }
 .account-link .douban{
 	background-position: -160px 0;
 	margin:20px 12px 0 0;
 }
 .account-link .renren{
 	background-position: -240px 0;
 }
 .account-link .with-line{
 	text-align: center;
 	margin-top: 10px;
 	color: white;
 }
 .account-link .with-line:before{
 	content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    width: 40px;
    top: 97px;
    left: 0;
 }
 .account-link .with-line:after{
 	content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    width: 40px;
    top: 97px;
    right: 0;
 }
 /*main*/
 .main-wrapper{
 	position: relative;
    margin: 0 auto;
    border: 0;
 }
 .author-info{
 	background: #FFF;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    margin: 17px 0;
 }
 .info-inner{
 	padding: 20px 20px 15px;
    position: relative;
 }
 .info-title{
 	margin-bottom: 20px;
 }
.board-name{
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 20px;
    font-weight: 700;
    color: #444;
    text-shadow: none;
    display: inline-block;
}
 .board-category{
 	display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #DDD;
    color: #999;
 }

 .brown-link{
 	color: #9E7E6B;
 }
/* .action-buttons{
 	float:right;
 	width:496px;
 }*/
 /*
 .board-description{
 	position: relative;
 	width:100%;
 	height:50px;
 	
 	border:1px solid red;
 	text-align: left;
 }*/